# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

#large or useless files
*.root
*.mac
*.txt
*.png

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.so

# Executables
*.exe
*.out
*.app
mPMTmapping/bin/
mPMTmapping/lib/

#cache
*__pycache__*
